[submodule "cluster-manager"]
	path = cluster-manager
	url = https://github.com/BitingLip/cluster-manager.git
[submodule "gateway-manager"]
	path = gateway-manager
	url = https://github.com/BitingLip/gateway-manager.git
[submodule "model-manager"]
	path = model-manager
	url = https://github.com/BitingLip/model-manager.git
[submodule "task-manager"]
	path = task-manager
	url = https://github.com/BitingLip/task-manager.git
[submodule "graphical-user-interface"]
	path = user-interface
	url = https://github.com/BitingLip/graphical-user-interface.git
[submodule "command-line-interface"]
	path = command-line-interface
	url = https://github.com/BitingLip/command-line-interface.git
