[submodule "managers/cluster-manager"]
	path = managers/cluster-manager
	url = https://github.com/BitingLip/cluster-manager.git
[submodule "managers/gateway-manager"]
	path = managers/gateway-manager
	url = https://github.com/BitingLip/gateway-manager.git
[submodule "managers/model-manager"]
	path = managers/model-manager
	url = https://github.com/BitingLip/model-manager.git
[submodule "managers/task-manager"]
	path = managers/task-manager
	url = https://github.com/BitingLip/task-manager.git
[submodule "interfaces/graphical-user-interface"]
	path = interfaces/graphical-user-interface
	url = https://github.com/BitingLip/graphical-user-interface.git
[submodule "interfaces/command-line-interface"]
	path = interfaces/command-line-interface
	url = https://github.com/BitingLip/command-line-interface.git
